.plant  {
  height: 150px;  
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: lightblue;
  z-index: 1;
  transform-origin: center bottom; 
  animation: lean 3s 0.5s infinite;
}                            